<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <main>
        <h3 style="text-align: center;"> <span id="heading">MY Profile</span></h3>
        <div class="flex">
           


                <div class="container">

                  
                    <div class="Profile">
                        <div class="profileImg">
                            <img src="/uploads/<%= post.image %>" alt="">

                        </div>
                         <p> username- @<%= post.username %></p>

    
                    </div>
    
                    <div class="questionBox">
                       <p id="content">
                       <span>Issue-</span> <%= post.content %>
                       </p>
                    </div>
    
    
                    <div class="questionBox">
                        <img src="/uploads/<%= post.image %>" alt="">
                    </div>
                    <p id="des"><span>Ans</span> <%= post.description %></p>
    
    
                   <div class="buttonGrid">
                    <a href="http://localhost:8080/posts/new">New User</a>

                    
                    <a href="http://localhost:8080/posts/<%= post.id %>/edit">Ans</a>
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="post" id="form">
                        <button>delete Post</button>
                    </form>


                   </div>
    
    
    
    
                    <!-- ............. -->
    
                </div>
    
         


           
        </div>
    </main>
</body>
</html>